@page
@model MCMS.Pages.Clinic.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Clinics</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Clinics.Id" />
            <div class="form-group">
                <label asp-for="Clinics.Name" class="control-label"></label>
                <input asp-for="Clinics.Name" class="form-control" />
                <span asp-validation-for="Clinics.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clinics.RegNo" class="control-label"></label>
                <input asp-for="Clinics.RegNo" class="form-control" />
                <span asp-validation-for="Clinics.RegNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clinics.Address" class="control-label"></label>
                <input asp-for="Clinics.Address" class="form-control" />
                <span asp-validation-for="Clinics.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clinics.Phone" class="control-label"></label>
                <input asp-for="Clinics.Phone" class="form-control" />
                <span asp-validation-for="Clinics.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clinics.Email" class="control-label"></label>
                <input asp-for="Clinics.Email" class="form-control" />
                <span asp-validation-for="Clinics.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clinics.SubscribedAt" class="control-label"></label>
                <input asp-for="Clinics.SubscribedAt" class="form-control" />
                <span asp-validation-for="Clinics.SubscribedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clinics.BillingCycle" class="control-label"></label>
                <input asp-for="Clinics.BillingCycle" class="form-control" />
                <span asp-validation-for="Clinics.BillingCycle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clinics.IsActive" class="control-label"></label>
                <input asp-for="Clinics.IsActive" class="form-control" />
                <span asp-validation-for="Clinics.IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
